# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
*.dockerignore

# Testing
.coverage
htmlcov/

# Temporary files
*.tmp
*.swp

artifacts/